@media only screen and (max-width : 991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 1.5rem 2rem;
    }
}

@media only screen and (max-width : 768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        height: calc(100vh - 9.5rem);
        width: 30rem;
    }
    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .navbar.active {
        right: 0;
    }
    .header .search-form {
        width: 90%;
        right: 2rem;
    }
    section {
        padding: 2rem;
    }
    .home {
        background-position: left;
        text-align: center;
        justify-content: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width : 450px) {
    html {
        font-size: 50%;
    }
}